/* Global styles
------------------------------------*/
/*---- Box sizing fix ---- */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Custom properties (variables) */
:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --very-light-gray: hsl(0, 0%, 95%);
  --border-radious: 7px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  background-color: var(--very-light-gray);
}

.container {
  margin: 50px auto;
  max-width: 300px;
  width: 85%;
}

section {
  padding: 45px;
}

h1 {
  text-align: center;
  color: var(--very-dark-cyan);
}

h2 {
  color: var(--very-light-gray);
}

h1,
h2 {
  font-family: "Big Shoulders Display", cursive;
  font-weight: bold;
  font-size: 25pt;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  padding-bottom: 15px;
}

button {
  padding: 10px 25px;
  font-weight: bold;
  border-radius: 20px;
  border-style: solid;
  border-color: var(--very-light-gray);
  background-color: var(--very-light-gray);
}

button:hover {
  color: var(--very-light-gray);
  background-color: inherit;
  cursor: pointer;
}

/* Card component
------------------------------------*/
/* SEDANS */
.sedans {
  background-color: var(--bright-orange);
  border-radius: var(--border-radious) var(--border-radious) 0 0;
}
.sedans-button {
  color: var(--bright-orange);
}

/* SUVS */
.suvs {
  background-color: var(--dark-cyan);
}

.suvs-button {
  color: var(--dark-cyan);
}

/* LUXURY */
.luxury {
  background-color: var(--very-dark-cyan);
  border-radius: 0 0 var(--border-radious) var(--border-radious);
}

.luxury-button {
  color: var(--very-dark-cyan);
}

/* Responsive
------------------------------------*/
@media screen and (min-width: 800px) {
  .container {
    margin: 100px auto;
    max-width: 810px;
    display: flex;
  }

  section {
    flex: 1 1 270px;
  }

  h1 {
    font-size: 30pt;
  }

  h2 {
    /* padding: 5px 0; */
    margin: 25px 0;
  }

  p {
    padding-bottom: 50px;
  }

  .sedans {
    border-radius: var(--border-radious) 0 0 var(--border-radious);
  }

  .luxury {
    border-radius: 0 var(--border-radious) var(--border-radious) 0;
  }
}
