/* Global styles
------------------------------------*/
/*---- Box sizing fix ---- */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Custom properties (variables) */
:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --very-light-gray: hsl(0, 0%, 95%);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  background-color: var(--very-light-gray);
}

.container {
  margin: 100px auto;
  max-width: 900px;
  width: 85%;
  display: flex;
}

section {
  padding: 45px;
  flex: 1 1 300px;
}

h1 {
  text-align: center;
  color: var(--very-dark-cyan);
}

h2 {
  color: var(--very-light-gray);
  padding: 10px 0;
}

h1,
h2 {
  font-family: "Big Shoulders Display", cursive;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  padding-bottom: 50px;
}

button {
  padding: 5px 15px;
  border-radius: 20px;
  border-style: solid;
  border-color: var(--very-light-gray);
  background-color: var(--very-light-gray);
}

button:hover {
  color: var(--very-light-gray);
  background-color: inherit;
}

/* Card component
------------------------------------*/
/* SEDANS */
.sedans {
  background-color: var(--bright-orange);
}
.sedans-button {
  color: var(--bright-orange);
}

/* SUVS */
.suvs {
  background-color: var(--dark-cyan);
}

.suvs-button {
  color: var(--dark-cyan);
}

/* LUXURY */
.luxury {
  background-color: var(--very-dark-cyan);
}

.luxury-button {
  color: var(--very-dark-cyan);
}
